<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common_fragments::head(false)">
    <title>Haystaxs - Optimize your clusters</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom Fonts -->
    <link href="../../public/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link href="../../public/css/haystackui.css" rel="stylesheet"/>
</th:block>
<body>
<th:block th:include="common_fragments::page_header"></th:block>
<!-- START PAGE CONTENT -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row" style="padding-top: 140px">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="well">
                    <ul class="list-unstyled">
                        <li style="padding: 2px"><b>1.</b> Upload your GPSD file</li>
                        <li style="padding: 2px"><b>2.</b> Upload you Query Logs</li>
                        <li style="padding: 2px"><b>3.</b> Analyze the Query Logs</li>
                        <li style="padding: 2px"><b>4.</b> Visualize your Schema, View Statistics, this, that, ....</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a class="btn btn-primary btn-lg" style="width: 210px; padding:20px" th:href="@{/database/new}">Upload GPSD</a>
                <a class="btn btn-primary btn-lg" style="width: 210px; padding:20px" th:href="@{/querylog/new}">Upload Query Logs</a>
                <a class="btn btn-primary btn-lg" style="width: 210px; padding:20px" th:href="@{/workload/new}">Analyze</a>
                <a class="btn btn-primary btn-lg" style="width: 210px; padding:20px">Visualize</a>
            </div>
        </div>
    </div>
</div>
<th:block th:include="common_fragments::footer_scripts(false)"></th:block>
<script type="text/javascript">
    $(function () {
        //$("#username").focus();
    })
</script>
</body>
</html>