<div class="row">
    <div class="col-lg-12">
        <h4 class="bold" th:text="'Total queries: ' + (${pi} ? ${pi.totalNoOfItems} : 0)"></h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-scrollable">
            <table class="table table-bordered table-hover" xmlns:th="http://www.thymeleaf.org">
                <thead>
                <tr>
                    <th>Database</th>
                    <th>User</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Query Type</th>
                    <th>SQL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="uq,iterStatus : ${userQueries}">
                    <td th:text="${uq.logDatabase}"></td>
                    <td th:text="${uq.logUser}"></td>
                    <td th:text="${#dates.format(uq.queryStartTime, 'hh:mm:ss')}"></td>
                    <td th:text="${#dates.format(uq.queryEndTime, 'hh:mm:ss')}"></td>
                    <td th:text="${uq.durationSeconds}"></td>
                    <td th:text="${uq.qryType}"></td>
                    <td th:text="${uq.sql}" style="word-break: break-all"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:if="${pi}" th:include="fragments/paginator::paginator"></div>
