<div class="table-scrollable" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th width="20%">Query Type</th>
            <th>Count</th>
            <th>Total Duration (Secs)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="uq,iterStatus : ${userQueries}">
            <td th:text="${uq.queryType}"></td>
            <td th:text="${#numbers.formatInteger(uq.count,3,'COMMA')}"></td>
            <td th:text="${#numbers.formatInteger(uq.totalDuration,3,'COMMA')}"></td>
        </tr>
        </tbody>
    </table>
</div>
