<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
              <property name="host" value="smtp.mandrillapp.com"/>
              <property name="port" value="587"/>
              <property name="username" value="dev.admin@danatev.com"/>
              <property name="password" value="EY1FUS0iRM_J0ZbwQahK7g"/>
       </bean>

       <!-- this is a template message that we can pre-load with default state -->
       <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
              <property name="from" value="system@haystaxs.com"/>
       </bean>
</beans>