<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/util
                            http://www.springframework.org/schema/util/spring-util-3.0.xsd
                            http://www.springframework.org/schema/task
                            http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <util:properties id="appProps" location="classpath:application.properties"/>

    <context:annotation-config />
    <context:component-scan base-package="com.haystaxs.ui" />

    <bean id="HsScheduledTasks" class="com.haystaxs.ui.util.HsScheduledTasks"/>

    <task:scheduler id="scheduler1" pool-size="5"/>
    <task:scheduled-tasks scheduler="scheduler1">
        <task:scheduled ref="HsScheduledTasks" method="refreshSchemaAndQueryStats" fixed-delay="3600000" initial-delay="60000"/>
    </task:scheduled-tasks>

    <!-- Database Connectivity -->
    <import resource="applicationContext-database.xml" />
    <!-- Security (authentication and authorization) configuration -->
    <import resource="applicationContext-security.xml" />
    <!-- Email configuration -->
    <import resource="applicationContext-mail.xml" />
    <!-- Thymelead configuration -->
    <import resource="applicationContext-thymeleaf.xml" />
</beans>
